In [22]:
import pandas as pd

parallel_mode = []
avg_runtime = []
queries_per_sec = []
median_latency = []
p95_latency = []

filename = 'results/results-1024-64_2.txt'

with open(filename, 'r') as f:
    for line in f:
        if line.startswith('parallel_mode'):
            parallel_mode.append(int(line.split('=')[1].strip()))
        elif line.startswith('Average runtime'):
            avg_runtime.append(float(line.split(':')[1].strip().split(' ')[0]))
        elif line.startswith('Queries per second'):
            queries_per_sec.append(float(line.split(':')[1].strip()))
        elif line.startswith('Median latency'):
            median_latency.append(float(line.split(':')[1].strip().split(' ')[0]))
        elif line.startswith('95th percentile latency'):
            p95_latency.append(float(line.split(':')[1].strip().split(' ')[0]))

df = pd.DataFrame({
    'parallel_mode': parallel_mode,
    'average_runtime': avg_runtime,
    'queries_per_second': queries_per_sec,
    'median_latency': median_latency,
    '95th_percentile_latency': p95_latency
})

df

,parallel_mode,average_runtime,queries_per_second,median_latency,95th_percentile_latency
0,0,10.221,9783.666,5.294,6.760
1,0,9.898,10103.078,5.143,6.657
2,0,10.100,9901.426,5.282,6.691
3,1,27.343,3657.221,3.953,6.565
4,1,25.095,3984.882,3.898,6.095
5,1,27.433,3645.210,4.204,6.638
6,2,24.589,4066.866,4.399,7.089
7,2,23.376,4277.945,4.079,6.585
8,2,28.318,3531.311,4.361,6.973

In [23]:
mean_df = df.groupby('parallel_mode').mean()
mean_df

,average_runtime,queries_per_second,median_latency,95th_percentile_latency
parallel_mode,,,,
0,10.073000,9929.390000,5.239667,6.702667
1,26.623667,3762.437667,4.018333,6.432667
2,25.427667,3958.707333,4.279667,6.882333